# Prerequisites
*.d
.vs/*
TestsPricing/x64/*
Win32Pricing/x64/*
Linux/build/*
x64/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Win32Pricing/Win32Pricing.vcxproj
TestsPricing/pch.cpp
TestsPricing/TestsPricing.vcxproj
TestsPricing/x64/Debug/vc141.idb
TestsPricing/x64/Debug/vc141.pdb

